# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.run.xml
*.bcf

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Project-specific
conference-latex-template.zip
MASCOTS_template/
